.container {
  position: relative;
  border: 1px solid red;
  text-align: center;
  margin: 50px;
}

.letter {
  font-size: 45px;
  font-weight: bold;
  color: grey;
  line-height: 70px;
  padding: 0 1px;
  transition: 0.2s ease-out;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: tomato;
}

.letter_space {
  display: inline-block;
  height: 10px;
  width: 35px;
  margin: 5px;
  vertical-align: bottom;

}

.textCursor {
  font-size: 45px;
  color: rgb(77, 77, 77);
  line-height: 70px;
  position: absolute;
  margin-left: -6px;
  margin-top: -5px;
}

.previousTextCursor {
  color: rgb(150, 150, 150);
}

.blink {

  animation: blink-animation 0.75s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.75s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}