.container {
  position: relative;
  border: 1px solid red;
  text-align: center;
}

.initialText {
  color: grey;
  /* position: absolute; */
  display: inline-flex;
  align-items: flex-start;
}

.inputText {
  position: absolute;
  display: flex;
  align-items: flex-start;
  color: black;
}