.container {
  position: relative;
  border: 1px solid red;
  text-align: center;
}

.plainText {
  color: grey;
  position: absolute;
  display: flex;
  align-items: flex-start;
}

.inputString {
  position: absolute;
  display: flex;
  align-items: flex-start;
  color: black;
}

main {
  background-color: greenyellow;
  min-height: 100%;
  display: block;
  border: 1px solid red;
}

span {
  color: grey;
}
