.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.textArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 20px;
    padding: 40px;
    border: 2px solid #9DB2BF;
    border-radius: 8px;
}

.letter {
    font-size: 24px;
    color: #606e77;
    line-height: 40px;
    padding: 0 1px;
    transition: 0.2s ease-out;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: tomato;
}

.letter_space {
    display: inline-block;
    height: 32px;
    width: 12px;
    margin-bottom: 4px;
    vertical-align: bottom;
}
