.registrationModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  box-shadow: rgba(100, 100, 111, 0.3) 0 7px 29px 0;
  background-color: whitesmoke;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  height: 60%;
  width: 50%;
  position: absolute;
  top: 20%;
  left: 20%;
}

.registrationModal__closeButton {
  width: 36px;
  height: 32px;
  font-size: 18px;
  font-weight: bold;
  color: darkslategrey;
  background: #9DB2BF;
  cursor: pointer;
  border-radius: 12px;
  margin: 6px;
}