header {
  width: 100%;
  background-color: #9DB2BF;
  padding: 2px 60px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul>div {
  display: flex;
}

li {
  font-size: 24px;
  margin-right: 30px;
  list-style-type: none;
  white-space: nowrap;
}

a {
  color: whitesmoke;
  font-variant: small-caps;
  line-height: 64px;
  padding-left: 16px;
  text-decoration: none;
  transition: 0.3s ease-in;
}

a:hover {
  color: #526D82;
}

.logo {
  width: 64px;
  height: 52px;
  cursor: pointer;
  display: inline-flex;
}

.container {
  display: flex;
  align-items: center;
}