.innerWindow {
    height: 100%;
    width: 100%;
    background-color: #9DB2BF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 20px 10px #508585;
    border-radius: 20px;
}

.image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.COMPANY {
    color: #9DB2BF;
    font-size: 12px;
    font-weight: bolder;
}

.LOGO {
    color: antiquewhite;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    height: 120px;
    width: 120px;
    background-color: darkslategrey;
    border: 4px solid #9DB2BF;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 8%;

}

.headerText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headText {
    color: antiquewhite;
    font-size: 34px;
}

.innerHeadText {
    color: #9DB2BF;
    font-size: 20px;
    font-weight: lighter;
}

.EMAIL {
    color: antiquewhite;
    font-size: 10px;
}

.email {
    width: 100%;
    height: 26px;
    background-color: darkslategrey;
    color: whitesmoke;
}

.inputEmail {
    width: 60%;
    height: 34px;
    padding: 10px;
    margin: 10px;
}

.PASSWORD {
    color: antiquewhite;
    font-size: 10px;
}

.password {
    width: 100%;
    height: 26px;
    background-color: darkslategrey;
    color: whitesmoke;
}

.inputPassword {
    width: 60%;
    height: 34px;
    padding: 10px;
    margin: 10px;
}

.buttonLogin {
    width: 60%;
    height: 34px;
    border-radius: 12px;
}

.buttonInput {
    background-color: darkslategrey;
    width: 100%;
    height: 34px;
    color: #9DB2BF;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.buttonInput:hover {
    background-color: #9DB2BF;
    color: darkslategrey;
}

.buttonInput:active {
    background-color: #75adaf;
}

.textCreateAccount {
    color: whitesmoke;
    font-size: 12px;
}

.CreateAccountLink {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 10px;
}

.CreateAccountLink:hover {
    text-decoration: underline;
}

.xBtn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}