.modal {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: whitesmoke;
  border-radius: 10px;
  position: absolute;
  height: 450px;
  width: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.modal__closeButton {
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: gray;
  transition: .2s ease-in;
}

.modal__closeButton:hover {
  color: black;
}

.modal__content {
  padding: 20px;
  width: 100%;
  height: 100%;
}